{% extends "./layout.twig" %}

{% block content %}
    <nav>
        <ul>
            <li>
                <a href="/examples/moving-triangles.html">moving-triangles</a>
            </li>
        </ul>
    </nav>
{% endblock %}