{% extends "./layout.twig" %} 

{% block body_class %}jelly{% endblock %} 

{% block content %}

<div class="js-jelly-scroll">

    <div class="l-wrapper">

        <header class="l-header header"></header>

        <main class="l-main main">
            <div class="l-container jelly-main">

                {% for i in 1..6 %}
                <div class="jelly-text-block {% if i % 2 == 1 %} -left {% else %} -right {% endif %} ">
                    <div class="jelly-text-block__image">
                        <span>
                            <img src="assets/images/jelly/girl-{{ i }}.jpg" alt="">
                        </span>
                    </div>
                    <div class="jelly-text-block__text">
                        <h2>Lorem ipsum dolor</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos repudiandae eveniet aspernatur tempore culpa nihil
                            reprehenderit dolor hic nesciunt id repellendus consequatur similique molestias rerum suscipit quibusdam
                            ratione dolores quis cupiditate placeat, veritatis autem nostrum, earum enim? Nulla esse quam corporis? Est
                            provident at eaque labore tempora! Iure, sunt tempora.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quibusdam ullam exercitationem maiores dolore magnam,
                            cumque dolorum distinctio commodi consequatur quisquam culpa? Fugit non at iure voluptatibus eligendi vel,
                            dolorum sed, reprehenderit enim debitis quisquam impedit minus expedita dignissimos sapiente unde alias,
                            doloribus facilis sit.</p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </main>
    </div>

    <footer class="l-footer footer">
        <div class="l-container">
            &copy; 2018 Copyrite by Me ^_^
        </div>
    </footer>

</div>


{% endblock %}